<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TodayGo</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/form.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body class="container">
    <h1 id="event-title">今日の予定: <strong>読み込み中</strong></h1>
    <p>目的地: <span id="destination">読み込み中</span></p>
    <p>所要時間: <span id="duration">取得中...</span></p>

    <div class="api-container">
      <div id="map"></div>
      <div id="driving"></div>
    </div>

    <h1>近くの飲食店</h1>
    <div id="store-container"></div>

    <script src="/static/js/google-api.js"></script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
