.login-page {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  font-size: 24px;
  text-align: center;
}

.login-title{
  font-size: 100px;
  margin-bottom: 20px;
}

#login-btn {
  padding: 12px 24px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

#map {
  height: 500px !important;
  width: 100%;
  margin-bottom: 20px;
}

#driving {
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.api-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

#store-container {
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}