#map {
  height: 500px !important;
  width: 100%;
  margin-bottom: 20px;
}

#driving {
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.api-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

#store-container {
  height: 500px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}